# Ignore virtual environment
venv/

# Bytecode and cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# ignore all generated figures
*.png
*.gif
*.csv